<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @actor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @actor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @actor.email %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @actor.image_url %>
</p>

<p>
  <strong>Tel no:</strong>
  <%= @actor.tel_no %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @actor.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @actor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @actor.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @actor.zip_code %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @actor.agent %>
</p>

<p>
  <strong>Union:</strong>
  <%= @actor.union %>
</p>

<p>
  <strong>Ht feet:</strong>
  <%= @actor.ht_feet %>
</p>

<p>
  <strong>Ht inches:</strong>
  <%= @actor.ht_inches %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @actor.weight %>
</p>

<p>
  <strong>Eye color:</strong>
  <%= @actor.eye_color %>
</p>

<p>
  <strong>Hair color:</strong>
  <%= @actor.hair_color %>
</p>

<p>
  <strong>Shoe size:</strong>
  <%= @actor.shoe_size %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @actor.gender %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @actor.ethnicity %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @actor.dob %>
</p>

<p>
  <strong>Suit size:</strong>
  <%= @actor.suit_size %>
</p>

<p>
  <strong>Dress size:</strong>
  <%= @actor.dress_size %>
</p>

<p>
  <strong>Shirt size:</strong>
  <%= @actor.shirt_size %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @actor.waist %>
</p>

<p>
  <strong>Inseam:</strong>
  <%= @actor.inseam %>
</p>

<%= link_to 'Log out', logout_path, method: :delete %>
<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
