<%= form_with(model: audition, local: true) do |form| %>
  <% if audition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audition.errors.count, "error") %> prohibited this audition from being saved:</h2>

      <ul>
      <% audition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :attended %>
    <%= form.check_box :attended, id: :audition_attended %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :audition_time %>
  </div>

  <div class="field">
    <span>Actor:</span>
    <%= form.collection_select :actor_id, @actors, :id, :full_name %>
  </div>

  <div class="field">
    <span>Character:</span>
    <span class="character"><%= @char_name %>
  </div>

  <div class="field" style="display: none">
    <%= form.label :role_id %>
    <%= form.text_field :role_id, :value => @role_id %>
  </div>

  <div class="field" style="display: none">
    <%= form.text_field :project_id, :value => @project_id %>
  </div>

  <div class="actions">
    <%= form.submit  %>
  </div>
<% end %>
