<p id="notice"><%= notice %></p>

<p>
  <strong>Attended:</strong>
  <%= @audition.attended %>
</p>

<p>
  <strong>Time:</strong>
  <%= @audition.time %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @audition.actor[:first_name]  + @audition.actor[:last_name]%>
</p>

<p>
  <strong>Role:</strong>
  <%= @audition.role[:char_name] %>
</p>

<div class="field" >
   <span>  #{@project.id} </span>
</div>

<%= link_to 'Edit', edit_audition_path(@audition) %> |
<%= link_to 'Back to project', projects_path(@project) %>
