
<% if agent_logged_in? %>
    <%= render'layouts/agent_header' %>
  <% end %>

<div class="aud-show-container">
  <p id="notice"><%= notice %></p>

  <%= image_tag @audition.actor.image_url, size: "125x100" %>

  <p>
    <strong>Attended:</strong>
    <%= @audition.attended %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @audition.time %>
  </p>

  <p>
    <strong>Actor:</strong>
    <%= @audition.actor[:first_name]  + " " +  @audition.actor[:last_name]%>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @audition.role[:char_name] %>
  </p>


  <%= link_to 'New Audition', new_audition_path(@project_id, :role_id => @role_id, :char_name => @char_name) %> |
  <%= link_to 'Edit', edit_audition_path(@audition) %> |
  <%= link_to 'Back to project', project_path(@project_id) %>

</div>
