<p id="notice"><%= notice %></p>
  <% if agent_logged_in? %>
    <%= render'layouts/agent_header' %>
  <% end %>

<h1>Projects</h1>
<div class="index-wrapper">
  <table>
    <thead>
      <tr>
        <th>Project name</th>
        <th>Production co</th>
        <th>Director</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.project_name, project %></td>
          <td><%= project.production_co %></td>
          <td><%= project.director %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>




<%= link_to 'New Project', new_project_path %>
