<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<div class="index-wrapper">
  <table>
    <thead>
      <tr>
        <th>Project name</th>
        <th>Production co</th>
        <th>Director</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.project_name %></td>
          <td><%= project.production_co %></td>
          <td><%= project.director %></td>
          <td><%= link_to 'Open', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Project', new_project_path %>

<%= link_to 'Log out', agents_logout_path, method: :delete %>
