<% if agent_logged_in? %>
    <%= render'layouts/agent_header' %>
  <% end %>

<div class="project-wrapper">
	
	<div class="project-info">
		<p>
		  <strong>Project name:</strong>
		  <%= @project.project_name %>
		</p>

		<p>
		  <strong>Production co:</strong>
		  <%= @project.production_co %>
		</p>

		<p>
		  <strong>Director:</strong>
		  <%= @project.director %>
		</p>

		<div class="links">
			<%= link_to 'Add Role', new_role_path(@project) %> |
			<%= link_to 'Edit', edit_project_path(@project) %> |
			<%= link_to 'Back', projects_path %>|
			<%= link_to 'Log out', agents_logout_path, method: :delete %>
		</div>
	</div>

	

	<div class="col-md-8">
		<% if @project.roles.any? %>
			<h3>Roles (<%= @project.roles.count %>)</h3>
			<ol class="roles">
				<%= render @role %>
			</ol>
			<% end %>
		<div>
			<p id="notice"><%= notice %></p>
		<div>
	</div>
</div>