<p id="notice"><%= notice %></p>

<p>
  <strong>Char name:</strong>
  <%= @role.char_name %>
</p>



<%= link_to 'Add Role', new_role_path(@project) %> | 
<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back to project', project_path(@role.project_id) %>